.register__body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("../../../public/bg-signup.jpg");
    backdrop-filter: blur(3px);
  }

  .signup-container {
    /* position: absolute;
    /* transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; */ 
    width: 35rem;
    margin: 10rem auto;
    padding-bottom: 1rem;
    border-radius: 30px;
    background-image: url("../../../public/bg-signup-form.jpg");
    background-size: cover;
    -webkit-box-shadow: -1px 1px 10px 0px rgba(247, 127, 0, 1);
    -moz-box-shadow: -1px 1px 10px 0px rgba(247, 127, 0, 1);
    box-shadow: -1px 1px 10px 0px rgba(247, 127, 0, 1);
  }
  
  .signup-input {
    background-color: #ffffff;
    border-radius: 15px;
  }
